.header-logo img {
  width: 130px;
  height: 120px;
}
.basket{
  position: relative;
}
.basket-badge{
  position: absolute;
  top: -8px;
  left: 16px;
  background-color: #df2020;
  color: white;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  font-size: 0.8rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.footer {
  background-color: #fde4e4;
  height: 340px;
  padding: 50px 0px;



}

.footer-logo img {
  width: 150px;
  height: 150px;
}

.footer-input {
  border: 1px solid #212245;
  border-radius: 5px;

  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-input input {
  background: transparent;
  outline: none;
  border: none;
}

.footer-input i {
  background-color: #df2020;
  color: white;
  padding: 5px 15px;
  border-radius: 10px;
  cursor: pointer;
}

.footer__title {
  font-size: 1.1rem;
  color: #212245;
  font-weight: 600;
}

.delivery__time-item span {
  font-weight: 600;
  color: #212245;
  margin: 0;
}

.delivery__time-item h5 {
  font-size: 1.1rem;
  color: #212245;
  font-weight: 600;
}

.delivery__time-item p {
  color: #212245;
}

.copyright {
  color: #df2020;
  font-size: 0.8rem;

  line-height: 29px;
}

.footer-logo p {
  font-size: 0.9rem;
  color: #999;
  line-height: 29px;
  margin-bottom: 40px;
}

.socials span i {
  padding: 5px;
  background-color: #df2020;
  color: white;
  border-radius: 50%;
  cursor: pointer;
}

.bold-text {
  color: #df2020;
  font-weight: bolder;
  font-size: 35px;
}
.home-text{
  font-weight: bolder;
  font-size: 35px;
}
.home-btn {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 50px;
}
.btn-normal{
  color: white;
  background-color: #df2020;
  border: 1px solid #df2020;
  padding: 7px;
  outline: none;
  border: none;
  width: 120px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-weight: 600;
  transition: 0.3s;
}
.btn-normal:hover{
  background-color: #212245;
}
.btn-outline{
  color: #df2020;
  outline: none;
  background: transparent;
  border: 1px solid #df2020;
  padding: 7px;
  width: 120px;
  border-radius: 5px;
  font-weight: 600;
}

.home-icons i{
  padding: 2px;
  background-color: #df2020;
  color: white;
  border-radius: 50%;
  cursor: pointer;
}
.home-shipping-icons{
  color: #212245;
  font-weight: 600;
  font-size: 0.9rem;
}
.category-item{
  background-color: #fde4e4;
  padding: 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.4s;
}
.category-item:hover{
  transform: translateY(-15px);
}
.category-img img{
width: 50px;
height: 50px;
background-color: #df2020;
padding: 4px;
border-radius: 50%;
}
.feature-title{
  color: #df2020;
  font-weight: 600;
}
.feature-subtitle{
  font-weight: 600;
}
.feature-bold{
  color: #df2020;
}
.feature-content img{
width: 130px;
height: 90px;
margin-bottom: 15px;
}
.feature-content h5{
  font-weight: 700;
  margin-bottom: 15px;
}
.feature-content p{
color: #777;
}
.foods-category{
  background-color: #df2020;
  border-radius: 8px;
}
.foods-category button{
  background: transparent;
  border: none;
  color: white;
  padding: 3px 7px;
}
.foods-category button img{
  width: 25px;
  height: 22px;
}
.active-btn{
  background-color: white !important;
  color: #df2020 !important;
  border-radius: 5px;
  transition: 0.4s;
}
.product{
  border: 1px solid #e2e2e2;
  text-align: center;
  margin-bottom: 20px;
}
.product-content img{
  width: 140px;
  height: 140px;
  margin-top: 5px;
}
.product-content h6{
  font-weight: 600;
  margin-top: 10px;
}

.addToCart{
  display: flex;
  align-items: center;
  justify-content: space-between !important;
  padding: 10px;
  margin-top: 20px;
}
.addToCart button{
  background: transparent;
  border: none;
  background-color: #df2020;
  color: white;
  padding: 4px 8px;
  border-radius: 5px;
}
.addToCart span{
  font-weight: 600;
  color: #df2020;
}.why-title{
  margin-top: 100px;
  font-weight: 700;
}
.why-bold{
  color: #df2020;
}
.why-desc {
  color: #777;
  line-height: 30px;
}

.choose-us-title {
  font-weight: 600;
  margin-bottom: 10px;
}

.choose-us-title i {
  font-weight: 500 !important;
  color: #df2020;
}

.choose-us-desc {
  color: #777;
}
.testimonial{
  margin-top: 70px;
}
.testimonial__subtitle {
  color: #df2020;
}
.testimonial__title  {
font-weight: 700;
}

.testimonial__title span {
  color: #df2020;
}

.testimonial__desc {
  color: #777;
  line-height: 30px;
}
.review__text {
  color: #777;
  line-height: 30px;
  margin: 40px 0px;
}

.slider__content img {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  object-fit: cover;
}




.cart__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.639);
  z-index: 99999;
}

.cart {
  position: absolute;
  top: 0;
  right: 0;
  width: 400px;
  height: 100%;
  background: #fff;
  z-index: 999999;
}

.cart__close {
  width: 100%;
  height: 60px;

  padding: 10px 20px;
}

.cart__close span i {
  font-size: 1.1rem;
  background: #212245;
  padding: 5px;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
}
.cart__item-list {
  height: calc(100vh - 140px);
  overflow-y: scroll;
}

.cart__bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 5px 20px;
  width: 100%;
  height: 80px;
  background: #df2020;
}

.cart__bottom h6 {
  font-size: 1rem;
  color: #fff;
}

.cart__bottom h6 span {
  font-size: 1.3rem;
  font-weight: 600;
}

.cart__bottom button {
  border: none;
  padding: 4px 20px;
  border-radius: 5px;
  background: #fff;
  color: #212245;
}

.cart__bottom button a {
  color: #212245;
  font-weight: 600;
}

@media only screen and (max-width: 576px) {
  .cart {
    width: 300px !important;
  }
}





.cart__item-info img {
  width: 35px;
  height: 35px;
  object-fit: cover;
}

.cart__product-title {
  font-size: 0.8rem;
  font-weight: 600;
}

.cart__product-price {
  font-size: 0.8rem;
}

.cart__product-price span {
  font-size: 0.9rem;
  font-weight: 600;
  color: #df2020;
}

.increase__decrease-btn {
  background: #fde4e4;
  padding: 2px 5px;
  border-radius: 5px;
}

.increase__btn,
.decrease__btn {
  cursor: pointer;
}

.delete__btn {
  font-size: 1.1rem;
  font-weight: 600;
}

.cart__item {
  margin-bottom: 15px;
  border-bottom: 1px solid #fde4e4;
}

.background-title{
  background: linear-gradient(#212245b2, #212245b2),
  url("../images/banner-02.jpg");


background-size: cover;
background-position: center;
padding: 80px 0px;
color: white;
margin-top: 20px;
}
.background-title h2{
margin-left: 100px;
font-weight: 600;
}

.search-box{
  border: 2px solid #e0e0e0;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.search-box input{
  border: none;

}
.search-box input:focus{
  outline: none;
 
}

@media only screen and (max-width: 576px) {
  .delete__btn {
    font-size: 1rem;
  }
}